/*
    Created on : 17 de mai de 2022, 19:48:21
    Author     : edumokfa
*/
body .ui-panelgrid .ui-panelgrid-cell{
    padding: 6px;
    background-color: #e5e5e5;
}
body .ui-panelgrid{
    background-color: #e5e5e5;
}

.btnVerde{
    background-color: #3b933b !important;
}

.btnVermelho{
    background-color: #a12626 !important;
}

body .ui-datatable .ui-datatable-data > tr > td {
    padding: 6px !important;
}
body .ui-datatable .ui-paginator.ui-paginator-top{
    display: none;
}